@use "../../utils" as *;
@use "../../index" as *;

.project_detail_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  width: 97.93%;
}

.project_add_title {
  display: flex;
  align-items: center;
  font: 5em $font;
  color: rgb(255 246 222);
}

.flex_row_input_container {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;
}

input,
textarea {
  border: 2px solid $highlight;
  background-color: transparent;
  border-radius: 5px;
  padding: 1em;
  width: 90%;
  font-size: 1em;
  font-family: $font;
  resize: none;

  &::placeholder {
    color: $color;
    opacity: 40%;
  }
}

textarea {
  height: 8em;
  width: 100%;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.project_name_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 37px;
  width: 639px;
  min-width: 0;
}

.project_name_label {
  display: flex;
  align-items: center;
  width: 100%;
  font: 700 35px/2.85 "Overpass Mono", Helvetica, Arial, serif;
  color: rgb(221 158 40);
}

.project_description_label {
  display: flex;
  align-items: center;
  margin: 50px 0 0;
  width: 100%;
  font: 500 35px/2.85 "Overpass Mono", Helvetica, Arial, serif;
  color: rgb(221 158 40);
}

.image_display_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px 0;
  margin: 49px 0 0;
  width: 499px;
  min-width: 0;
}

.project_image_comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(221 158 40 / 20%);
  border-radius: 30px;
  outline: 3px solid rgb(222 158 40 / 90.1%);
  outline-offset: -3px;
}

.project_image {
  margin: 45px auto;
  width: 74.55%;
}

.project_type_column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10px;

  .button_accent,
  button {
    @include button_accent();

    width: 255px;
    margin-right: 0.75em;
  }

  button {
    background-color: black;
  }
}

.role_cnt {
  display: flex;
  flex-direction: column;
  ul {
    @extend .project_type_column;
    margin-bottom: 0;

    li {
      width: 320px;
    }
  }
}

.project_type_label {
  display: flex;
  align-items: center;
  font: 500 35px/2.85 "Overpass Mono", Helvetica, Arial, serif;
  color: rgb(221 158 40);
}

@import "../../index";

.qual_opts {
  z-index: 2;
  width: 80em;
  margin-top: 0;
  background-color: rgba($color, 0.9);
  padding: 0 1em 1em 1em;
  color: $highlight;
  border: 1px solid rgba($color, 0.9);
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.qual_input {
  @extend .login__input;
  width: 100%;
  margin-bottom: 0;
  background: url("/assets/search_arrow.svg") top right no-repeat;
  padding: 0;
  padding-bottom: 0.25em;
  border-radius: 0;

  &[data-headlessui-state="hover"] {
    outline: none;
  }

  &:hover {
    outline: none;
  }

  &[data-headlessui-state="focus"] {
    outline: none;
  }

  &[data-headlessui-state="hover focus"] {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

.qual_opt {
  margin-top: 0;
}

.roles_cnt {
  & > :nth-child(2) > :first-child {
    display: none;
  }
}

.role_header {
  width: 100%;
  border-top: 2px solid $color;
  padding-top: 0.5em;
  margin-top: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.popup {
  @extend .blurred_bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

.succes_message {
  height: 40vh;
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $highlight;
  border-radius: 15px;
}
