@use "../../utils" as *;
@use "../../index" as *;

.root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-self: flex-start;
  padding-left: 1%;
  padding-right: 3%;
  padding-top: 3%;
  flex-direction: column;
  border-right: 1px $color solid;
  max-width: 25%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.flex_col {
  display: flex;
  flex-direction: column;
  ul {
    li {
      padding-left: 2em;
      position: relative;
      &:hover a {
        color: $highlight;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25rem; /* Adjust vertical alignment */
        width: 1rem;
        height: 1rem;
        background-image: url(/assets/e2eb7164ddaa335cc3d6e67781eeceda.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:nth-child(2):before {
        background-image: url(/assets/9453e8c218b9d080e60d081dcc90771c.svg);
      }
      &:nth-child(3):before {
        background-image: url(/assets/6fad9b44cb0964bb4ba8adad213b29c2.svg);
      }
      &:nth-child(4):before {
        background-image: url(/assets/34278ddd79993269b66817f2d5d5ed8e.svg);
      }
    }
  }
}

.avatar {
  margin: 2em 0 0;
  width: 35%;
  border-radius: 50%;
  border: 2px solid $color;
}

.big_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 36px 0 0 1px;
  font: 2em $font;
  font-weight: 700;
  color: $highlight;
  text-align: left;
  opacity: 0.89;
}

.medium_title {
  display: flex;
  align-items: center;
  margin-top: -0.75em;
  font: 400 25px/2.4 $font;
  color: $color;
  opacity: 0.8;
}

.title {
  display: flex;
  align-items: center;
  margin: 31px 1px 0;
  font: 700 30px/2 $font;
  font-weight: 700;
  color: $color;
  opacity: 0.89;
}

.medium_title1 {
  display: flex;
  align-items: center;
  font: 1.5em $font;
  color: $highlight;
  text-decoration: underline;
  opacity: 0.89;
}

.flex_row {
  display: flex;
  align-items: center;
  gap: 0 14px;
  margin-top: 1em;
}

.image17 {
  width: 15px;
  min-width: 0;
  height: 20px;
}

.title1 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 1.5em $font;
  color: $color;
  opacity: 0.89;
}

.flex_row1 {
  display: flex;
  gap: 0 15px;
  margin: 7px 2px 0;
}

.image18 {
  margin: 16px 0 19px;
  width: 15px;
  min-width: 0;
  height: 20px;
}

.title2 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 700 30px/1.5 $font;
  color: $color;
  text-decoration: underline;
  opacity: 0.89;
}

.image19 {
  margin: 15px 0 17px;
  width: 15px;
  min-width: 0;
  height: 20px;
}

.role_image {
  width: 25px;
  min-width: 0;
  height: 26px;
  align-self: start;
}

.image20 {
  margin: 6px 0 26px;
  width: 15px;
  min-width: 0;
  height: 20px;
}

.flex_row_info {
  align-items: center;
  display: flex;
  gap: 0 11px;
}

.role_title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  font: 2em $font;
  font-weight: 700;
  color: rgb(255 245 218 / 89.8%);
  text-align: left;
  opacity: 0.89;
  text-transform: uppercase;
}

.small_margin_top {
  margin-top: 3%;
}

.full_length_button {
  @include button_accent();
}

@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }
}
