./ProjectorFrontend/node_modules
./ProjectorFrontend/node_modules/*
./ProjectorFrontend/node_modules/
/ProjectorFrontend/node_modules
/ProjectorFrontend/node_modules/*
/ProjectorFrontend/node_modules/