@use "../../utils" as *;
@use "../../index" as *;

.whitebg {
  display: flex;
  justify-content: center; // Centers the pagination horizontally
  align-items: center;

  nav {
    ul {
      display: flex;
      justify-content: center; // Centers the pagination buttons inside the ul
      align-items: center;

      li {
        div {
          color: $color;
        }

        a {
          font-family: $font;
          font-weight: 700;
          font-size: 1em;
          padding: 0;
          color: $color;

          &:hover {
            background-color: rgba($highlight, 0.2);
          }
        }
      }
    }
  }
}
