@import "../../index";

.tab_content {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
  padding-left: 5%;
  padding-bottom: 5%;
  width: 100%;

  input,
  textarea {
    border: 2px solid $highlight;
    background-color: transparent;
    border-radius: 5px;
    padding: 1em;
    width: 90%;

    &::placeholder {
      color: $color;
      opacity: 40%;
    }
  }

  textarea {
    height: 5rem;
    overflow: hidden;
    resize: none;
  }

  h1 {
    align-self: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

.additional_content {
  padding-bottom: 5%;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1em;
  align-items: start;
  padding-right: 10%;

  input,
  textarea {
    width: 100%;
  }

  &__header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.delete_cell:hover {
  cursor: pointer;
  text-decoration: underline;
}

label {
  .radio__label {
    margin: 1em;
    font-size: 1em;
    color: $color;
  }
}

.custom_profile_pic_upload {
  display: inline-block;
  cursor: pointer;
  align-self: center;
}
