@use "../../index" as *;

$color-cloud-text: #fff5da99;

.landing {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__about,
  &__info_for_users,
  &__partnership,
  &__contact,
  &__opportunities {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding: 7vh 10% 0 10%;
  }

  &__contact {
    &_bg {
      background-position: center;
      background-size: 100% 110%;
      background-repeat: no-repeat;
      background-image: url("assets/Polygon 1.png");
      padding: 10vh 0 10vh 0;
    }

    &_frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_content {
      @extend .landing_components;
      justify-content: space-between;
      margin: 0 15% 0 15%;
      padding: 2em;
      align-items: flex-start;
      &__element__half {
        width: 50%;
        padding: 1em 0 0 0;
        text-align: left;
        align-items: flex-start;

        .gap {
          display: flex;
          justify-content: flex-start;
          gap: 2em;
          margin-top: 1em;
          img {
            width: 15%;
          }
        }

        &:nth-child(3) {
          text-align: right;
          align-items: flex-end;
        }

        img {
          object-fit: contain;
          width: 100%;
          object-position: left;
        }
      }

      h2 {
        align-self: flex-start;
        margin-top: 1em;
        margin-bottom: 1.5em;
      }
    }
  }

  &__about {
    background-image: url(/lamp.svg), url(/lightTriangle.svg);
    background-size: 20%, cover;
    background-position: -2px 16px, 2% 1.5;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 15vh;
  }

  &__info_for_users {
    background-image: url(/assets/light_rect.png);
    background-size: 100% 100%, cover;
    background-position: top, center;
    background-repeat: no-repeat, no-repeat;
    padding: 0 0 7vh 0;
    &__img1 {
      float: right;
      margin-right: 10%;
      object-fit: contain;
      height: 70vh;
    }

    &__img2 {
      object-fit: contain;
      float: left;
      width: 40%;
      position: relative;
      bottom: 150px;
      left: 0;
    }

    &__row1 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      padding: 0 10% 0 10%;
    }

    &__row2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
    }
  }

  &__header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__footer {
    display: flex;
    background-color: $highlight;
    background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  background-image: url("/noise&Texture.png");
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    font-size: 1.2em;
    z-index: 99;
    a {
      text-decoration: underline;
    }
  }

  &__signup_button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $highlight;
    position: relative;
    margin: 3em auto 0 auto;
    &:hover,
    &:focus {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        background-image: url("/assets/8600a001ef57bae75a23ca4f8dbe7a1e.svg");
        filter: blur(30px);
        cursor: pointer;
      }
    }
  }

  &_components {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    img {
      width: 40%;
    }

    &__element {
      &__third,
      &__half {
        align-self: flex-start;
        text-align: center;
        width: calc(100% * 1 / 3);
        overflow: hidden;
        padding: 1em 3% 0 3%;
        display: flex;
        flex-direction: column;
        align-items: flex-center;

        h2 {
          text-align: center;
        }

        img {
          object-fit: contain;
          width: 100%;
        }
        ol,
        ul {
          text-align: left;
          width: 100%;
          li::marker {
            color: $highlight;
          }
        }
        ul {
          list-style: disc;
        }
      }
      &__third {
        img {
          margin-top: 2em;
          margin-bottom: 2em;
        }
      }
      &__half {
        width: 50%;
        padding: 1em 10% 0 10%;
        text-align: center;
        align-items: flex-start;
        img {
          object-fit: contain;
          width: 100%;
          object-position: left;
        }
      }
    }
  }
}

.curve_top_bg {
  background-image: url(assets/top_curve.svg);
  background-repeat: none;
  background-size: cover;
  background-position: top;
  padding-top: 10em;
}

.curve_bottom {
  position: absolute;
  top: 35px;
  right: 0;
  width: 100%;
  object-fit: contain;
}

.sign_projector_is {
  width: 60%;
  img {
    width: 70%;
    object-fit: contain;
  }
}

.sign_why_us {
  margin-top: 2em;
  justify-self: flex-end;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  ul {
    direction: rtl;
    list-style: none;
    li {
      position: relative;
      padding-right: 2em;
      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0.25rem; /* Adjust vertical alignment */
        width: 1rem;
        height: 1rem;
        background-image: url(/assets/first_marker.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:nth-child(2):before {
        background-image: url(/assets/second_marker.png);
      }
      &:nth-child(3):before {
        background-image: url(/assets/third_marker.png);
      }
      &:nth-child(4):before {
        background-image: url(/assets/fourth_marker.png);
      }
      p {
        direction: ltr;
        unicode-bidi: embed;
      }
    }
  }
  img {
    width: 50%;
    object-fit: contain;
  }
}

// UTILITY CLASSES

.paperOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat, repeat-y;
  background-size: 100%, calc(100% - 40px);
  background-position: center, center;
  background-image: url("/noise&Texture.png"), url("/sidesFrame.svg");
  pointer-events: none;
}

.margin_div {
  margin: 0 10% 0 10%;
}

.big_header {
  object-fit: contain;
  width: 85%;
  padding-top: 170px;
  padding-left: 40px;
}

div .cloud_text {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: $color-cloud-text;
  font-size: 1.5rem;
  font-weight: 100;
  white-space: nowrap;
  text-align: left;
  background-image: url("assets/cloudFrame.svg");
  background-size: cover;
  background-repeat: no-repeat;
  p {
    visibility: hidden;
    margin: 0 30px 0 30px;
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  &:after {
    content: "";
    display: block;
    margin-top: 25%;
  }
}

.full_width_img {
  width: 100%;
  object-fit: contain;
}
