.logo_container {
  position: relative;
  width: 219px;
  height: 47px;
  cursor: pointer;

  &:hover {
    .second_decorator_image {
      display: block;
    }
  }
}

.hidden {
  display: none;
}

.second_decorator_image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(70px);
  width: 120%;
  z-index: 0;
  display: none;
}

.image {
  margin: 0 0 0 2px;
  object-fit: contain;
  height: 100%;
}
