@import '../../index';

.signup {
  margin-bottom: 5em;
}

.header {
  margin-bottom: 0.5em;
  font-size: 3.5rem;
}

.signup__cnt {
  @include blurred_bg();
  text-align: left;
  width: 88%;
  margin: 5vh 6% 0 6%;
  padding: 3% 0 5vh 5%;

  &::before {
    @include blurred_before();
  }
}

.sign__label {
  margin-left: 0.5em;
  text-decoration: underline;
  font-size: 1.5em;
}

.enter_button {
    @include custom_button();

    &::before {
      content: attr(data-content);
    }
  }

.enter_button {
  width: 20%
}