@use "../../utils" as *;
@use "../../index" as *;

.notifications {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;
    div:first-child {
      border-top: 2px $highlight solid;
    }
  }
}
