@use "../../utils" as *;
@use "../../index" as *;

.profile_section {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  overflow: visible;
}

.alt_navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.toggle_btn_cnt {
  width: 20%;
}

.flex_row_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 100%;
}

.flex_column_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px 0;
  width: 100%;
  margin-right: 1%;
  min-width: 0;
  min-height: 100vh;
  padding: 1em 1% 0 2%;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  input {
    display: none;

    &:checked + svg {
      transform: rotate(-45deg);
    }

    &:checked + svg .line_top_bottom {
      stroke-dasharray: 20 300;
      stroke-dashoffset: -32.42;
    }
  }

  svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line_top_bottom {
  stroke-dasharray: 12 63;
}

.account_section {
  display: flex;
  flex-direction: column;
}
