@use "../../utils" as *;
@use "../../index" as *;

.close_filter_cont {
  @extend .cross_button;

  position: absolute;
  width: 8%;
  right: 20px;
  top: 20px;
}

.button_accent {
  @extend .button_accent;

  margin-top: 0;
}

.search_and_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

input.searchbar {
  width: 100%;
  margin-bottom: 0;
  background: url("/assets/search_arrow.svg") center right no-repeat;
  padding-bottom: 0.25em;
  border-radius: 0;
}

.search_container {
  position: relative;
  width: 50%;
}

.inv_search_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 11%;
  background-color: transparent;
  border: none;
}

.inline {
  display: inline;
}

.whitebg {
  display: flex;
  justify-content: center; // Centers the pagination horizontally
  align-items: center;

  nav {
    ul {
      display: flex;
      justify-content: center; // Centers the pagination buttons inside the ul
      align-items: center;

      li {
        div {
          color: $color;
        }

        a {
          font-family: $font;
          font-weight: 700;
          font-size: 1em;
          padding: 0;
          color: $color;

          &:hover {
            background-color: rgba($highlight, 0.2);
          }
        }
      }
    }
  }
}

.filter {
  display: flex;
  align-items: center;
}

.filters_cnt {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    margin-bottom: 0.5em;
    margin-left: 1%;
    height: 1.5em;
    cursor: pointer;
  }

  h2 {
    font-weight: 300;
    cursor: pointer;
  }
}
