@use "../../utils" as *;
@use "../../index" as *;


.title4 {
  display: flex;
  align-items: center;
  font: 700 2em $font;
  color: $highlight;
  margin-top: 1em;
}

.close_filter_cont {
  position: absolute;
  right: 25px;
  top: 25px;

  @include cross_button();
}

.medium_title3 {
  display: flex;
  align-items: center;
  font: 700 1.5em $font;
  color: $highlight;
}

.subtitle {
  font: 700 1em $font;
  text-align: left;
  color: $color;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5em;
  width: 95%;
}

.desc_cont {
  display: flex;
  height: 100%;
  align-items: center;
}

.project_card {
  margin: 0 0 0.75em 0;
  background-image: url('/assets/project_frame.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  height: 30vh;
  box-sizing: border-box;
  /* Ensures border and padding are included in width */
}

.project_text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.button_accent {
  @include button_accent();

  margin-top: 0;
}

.search_and_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

input.searchbar {
  width: 100%;
  margin-bottom: 0;
  background: url('/assets/search_arrow.svg') top right no-repeat;
  padding-bottom: 0.25em;
}

.search_container {
  position: relative;
  width: 50%;
}

.inv_search_button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 11%;
  background-color: transparent;
  border: none;
}

.inline {
  display: inline;
}

.whitebg {
  display: flex;
  justify-content: center; // Centers the pagination horizontally
  align-items: center;

  nav {
    ul {
      display: flex;
      justify-content: center; // Centers the pagination buttons inside the ul
      align-items: center;

      li {

        div {
          color: $color;
        }

        a {

          font-family: $font;
          font-weight: 700;
          font-size: 1em;
          padding: 0;
          color: $color;

          &:hover {
            background-color: rgba($highlight, 0.2);
          }
        }
      }
    }
  }
}

.filter {
  display: flex;
  align-items: center;

  img {
    margin-bottom: 1%;
    margin-left: 3%;
    height: 1.5em;
  }

  h2 {
    font-weight: 300;
  }
}

.filter_cont {
  @include popup_middle_long();
}