@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

$color: #fff6de;
$highlight: #dd9e28;
$font: "Overpass Mono", monospace;
$background-color: #000;
$background-blur: rgba(0, 0, 0, 0.4);
$box-shadow-color: rgba(0, 0, 0, 0.5);
$blur-radius: 10px;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

.button_accent {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  font: 1.5em $font;
  color: $highlight;
  text-align: center;
  background-color: rgba($highlight, 0.2);
  border-radius: 10px;
  padding: 6.5px 8px;
  margin-top: 0.75em;
  border: 1px solid $highlight;
}

@mixin higlighted_underline_button {
  color: $highlight;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  outline: none;
  font-size: 2em;
}

.outline_btn {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  color: $color;
  align-self: flex-start;
  margin-bottom: 2%;
  &:hover,
  &:focus-within {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      background-image: url("/assets/8600a001ef57bae75a23ca4f8dbe7a1e.svg");
      filter: blur(50px);
      cursor: pointer;
    }
  }
  p {
    visibility: hidden;
    margin: 0 30px 0 30px;
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:after {
    content: "";
    display: block;
    margin-top: 25%;
  }

  button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: $color;
    font-size: 36px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      transition: transform 0.5s;
      background-image: url("/outter-border.svg");
      transform: rotate(0deg);
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      transition: transform 0.5s;
      background-image: url("/inner-border.svg");
      transform: rotate(0deg);
      cursor: pointer;
    }

    &:hover {
      &::before {
        transform: rotate(3deg);
      }
      &::after {
        transform: rotate(-1deg);
      }
    }
  }
}

.align-center {
  align-self: center;
}

.align-start {
  align-self: flex-start;
}

.cross_button {
  height: auto;
  width: 40px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  background-image: url(../cross.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: rotate(70deg);
  }
}

.bigger_paragraph {
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.accent {
  color: $highlight;
}

.light {
  font-weight: 100;
}

.light_accent {
  color: $highlight;
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  background-image: url(/lamp.svg), url(/lightTriangle.svg);
  background-size: 20%, cover;
  background-position: -2px 16px, 2% 1.5;
  background-repeat: no-repeat, no-repeat;
  min-height: 100vh;
  width: 100%;
}

#root {
  position: relative;
  top: 0;
  padding-bottom: 0;
  width: 100%;
  background-color: transparent;
  color: $color;
  font-family: $font;
  place-items: center;
  // overflow: hidden;
}

input,
button,
textarea {
  color: inherit;
  font-family: inherit;
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-size: 1.5em;
  color: $highlight;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.login__input {
  display: block;
  background: none;
  width: 90%;
  border: none;
  border-bottom: 2px solid $highlight;
  color: $highlight;
  font-size: 1.5rem;
  font-family: $font;
  margin-bottom: 2rem;

  &::placeholder {
    color: $highlight;
  }

  &:focus {
    border-color: color;
    outline: none;
  }
}

.blurred_bg {
  background-color: $background-blur;
  border-radius: 25px;
  position: relative;
  background: inherit;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    box-shadow: inset 0 0 2000px $box-shadow-color;
    -webkit-backdrop-filter: blur($blur-radius);
    backdrop-filter: blur($blur-radius);
    z-index: -1;
  }
}

.margin_bottom_7 {
  margin-bottom: 7vh;
}

.margin_bottom_2em {
  margin-bottom: 2em;
}

.margin_top_1em {
  margin-top: 1em;
}

.margin_bottom_1em {
  margin-bottom: 1em;
}

.margin_top_negative10 {
  margin-top: -10vh;
}

ul {
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

.radio__label {
  color: $highlight;
  margin-right: 1em;
}

label .signup__label {
  font-size: 2em;
}

input[type="radio"] {
  display: none;
  margin-left: 5em;
}

input:disabled,
textarea:disabled {
  background: linear-gradient(to top, #fff6de2a, #fff6de00);
}

input[type="radio"]:checked + label {
  .check {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s linear;
  }
}

.sign__svg {
  width: 1.5em;
  stroke: #fff6de;
  stroke-width: 4;
  fill: none;

  .check {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
  }
}

input[type="checkbox"]:checked + label {
  .check {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s linear;
  }
}

.signup__radio__cnt {
  border-bottom: 2px solid $highlight;
  width: 90%;
  margin-bottom: 2rem;
}

.radio {
  stroke: $highlight;
}

div .validation-message {
  text-align: left;
  margin-right: 5%;
  text-transform: none;
  color: rgb(129, 22, 22);
  font-size: 1em;
}

#headlessui-popover-panel- {
  position: static;
}

a.css-q7jpt8-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: $highlight;

  &:hover {
    background-color: $highlight;
  }
}

.img_frame {
  display: flex;
  justify-content: center;
  background-color: rgba($highlight, 0.2);
  border: 1px $highlight solid;
  border-radius: 20px;
  height: 299px;
  width: 361px;
  overflow: hidden;
  position: relative;
}

section {
  width: 100%;
}

.popup_middle_long {
  @extend .blurred_bg;
  padding: 2%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  gap: 1em;
  background-color: rgba(rgb(64, 75, 95), 0.4);
  max-width: 25%;
  min-width: 328px;
  z-index: 2;

  h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
  }

  .apply {
    align-self: flex-end;

    @include higlighted_underline_button();
  }
}

@mixin popup_accent_field {
  color: $color;
  border: 2px solid $color;
  border-radius: 9px;
  padding: 3.5% 2% 3.5% 2%;
  text-align: center;
  background-color: rgba($highlight, 0.58);
  width: 20em;
}

.min_underlined {
  font-size: 30px;
  line-height: 60px;
  font-weight: 900;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  color: $highlight;
}

.add_button {
  margin-top: 5vh;
  margin-bottom: 3vh;
  background-color: transparent;
  border: none;
  color: $highlight;
  position: relative;
  align-self: center;
  font-size: 1.5em;

  &::before {
    content: "";
    background-image: url(../cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(45deg);
    position: absolute;
    width: 200%;
    height: 200%;
    top: 150%;
    left: -100%;
  }

  &:hover {
    cursor: pointer;
  }
}
